.container {
    border-radius: 5px;
    background-color: #dadada;
    padding: 1rem;
  }

  input{
    width: 100%; 
    padding: 0.7rem; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    
  }

  h2 {
      font-size: 2rem;
  }